* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

input {
    height: 1.7rem;
    margin-bottom: 1.5rem;
}

label {
    font-weight: bold;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

h3 {
    margin-bottom: 0;
}

h5 {
    margin-top: 0;
    color: green;
}

.item {
    background: linear-gradient(#fffefc, #fff);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column; /* vertical stacking */
    align-items: center;
}

.item h3 {
    letter-spacing: 1px;
    color: #111; /* strongest color */
    text-shadow: 
        0 2px 3px rgba(0,0,0,0.3),
        0 5px 10px rgba(0,0,0,0.2);
}

.item h6 {
    letter-spacing: 1px;
    color: #51c244; /* strongest color */
    text-shadow: 
        0 2px 3px rgba(75, 163, 60, 0.3),
        0 5px 10px rgba(75,163,60,0.2);
}

.item span {
    letter-spacing: 1px;
    color: #eef289; /* strongest color */
    text-shadow: 
        0 2px 3px rgba(240, 243, 97, 0.5),
        0 5px 10px rgba(240,243,97,0.4);
}

.item p,
.item a {
    letter-spacing: 1px;
    color: #666; /* lighter than h3 */
    text-shadow: 
        0 2px 3px rgba(0,0,0,0.2),
        0 5px 10px rgba(0,0,0,0.1);
}

.record-entry {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.record-entry h3 {
  margin-bottom: 10px;
}


.buttons {
    display: flex;
}

.signup-form,
.login-form,
.resource-form,
.new-password-form,
.reset-form,
.edit-form {
    padding: 1rem;
    width: 30rem;
    margin: auto;
    margin-top: 1.5rem;
}

.centered {
    text-align: center;
}

.user-message {
    margin: auto;
    margin-top: 0.5rem;
    border: 1px solid rgb(15, 15, 149);
    border-radius: 3px;
    padding: 1rem;
    background-color: rgb(227, 227, 243);
    text-align: center;
}

.user-message--error {
    background-color: rgb(253, 244, 244);
    color: red;
    border-color: red;
}

.user-message--success {
    background-color: rgb(244, 253, 244);
    color:green;
    border-color: green;
}

.input-div input.invalid {
    border-color: red;
}

.pagination {
    text-align: center;
    margin-top: 2rem;
}

.pagination a {
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 1rem;
    border: 1px solid green;
    color: green;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
    background-color: green;
    color: white;
}

@media (max-width: 1200px) {
    .item-grid {
        grid-template-columns: repeat(3, 1fr); /* laptop */
    }
}

@media (max-width: 768px) {
    .item-grid {
        grid-template-columns: repeat(2, 1fr); /* tablet / small screens like iPhone 15 Pro Max */
    }
}

@media (max-width: 430px) {
    .item-grid {
        grid-template-columns: repeat(1, 1fr); /* very small phones */
    }
}